<form id="order-form" action="">
<div class="row clearfix">
<div class="col-md-12 column">
  <table id="new-order-table" class="table table-bordered table-hover" data-height="500">
    <thead>
      <tr>
        <th></th>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Picture</th>
        <th>Item Price</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<a id="add_row" class="btn btn-default pull-left">Add Row</a>
<a id='delete_row' class="pull-left btn btn-default">Delete Row</a>
<a id='save_order' class="pull-right btn btn-info">Save</a>
</div>
</form>
