<%= form_for :order, :html=> {:id => 'new-order-form'}, url: orders_path do |f| %>
<div class="row clearfix">
<div class="col-md-12 column">
  <table id="new-order-table" class="table table-bordered table-hover" data-height="500">
      <tr>
        <td>Customer Name:</td><td>
          <select name='order[customer_id]'  class="form-control input-md">
            <% @users.each_with_index do |user, index| %>
              <% unless user.role == "admin" %>
                <option value="<%= user.id %>"><%= user.name%></option>
              <% end %>
            <% end %>
          </select>
        <td>Supplier Name:</td><td><input name="order[supplier_name]" type="text" class='form-control input-md' /></td>
      </tr>
      <tr>
      	<td>Supplier English Name:</td><td><input name="order[supplier_english_name]" type="text" class='form-control input-md' /></td>
        <td>Supplier Address:</td><td><input name="order[supplier_address]" type="text" class='form-control input-md' /></td>
      </tr>
      <tr>
      	<td>Supplier Contact Person:</td><td><input name="order[supplier_contact_person]" type="text" class='form-control input-md' /></td>
        <td>Supplier Contact No:</td><td><input name="order[supplier_contact_no]" type="text" class='form-control input-md' /></td>
      </tr>
      <tr>
       <td>Supplier Email:</td><td><input name="order[supplier_email]" type="text" class='form-control input-md' /></td>
       <td>Marks:</td><td><input name="order[marks]" type="text" class='form-control input-md' /></td>
      </tr>
  </table>
</div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
<button id='create_order' class="pull-right btn btn-info">Save</button>
</div>
<% end %>
