<%= form_for :order, :html=> {:id => 'new-order-form'},url: orders_path do |f| %>
<div class="row clearfix">
<div class="col-md-12 column">
  <table id="new-order-table" class="table table-bordered table-hover" data-height="500">
      <tr>
        <td>Customer Name:</td><td><input name="order[customer_name]" type="text" class='form-control input-md' /></td>
        <td>Supplier Name:</td><td><input name="order[supplier_name]" type="text" class='form-control input-md' /></td>
      </tr>
  </table>
</div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
<button id='save_order' class="pull-right btn btn-info">Save</button>
</div>
<% end %>
